
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">Demo van Chris</h1>
    <p>Demo</p> 	
    <iframe height="800" width="800" src="https://chrisgeene.nl/kpi/ovp-v2.php" title="Kpi"></iframe>
</div>
